<html>
        <head>
                <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        </head>
    <body>
        <h1>Edit {{item.bill}}</h1>
        <form action = "{{url_for('editMonthlyBills', mbid = item.id)}}" method = 'POST'>            
            <p>bill:</p>
            <input type = 'text' size = '30' name = 'bill', placeholder = "{{item.bill}}">
            <p>cost:</p>
            <input type = 'text' size = '30' name = 'cost' placeholder = "{{item.cost}}">
            <p>date:</p>
            <input type = 'text' size = '30' name = 'date' placeholder = "{{item.date}}">
            <input type = 'submit' value = 'Edit'>
        </form>
    </body>
</html>