<html>
        <head>
                <link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
        </head>
    <body>
        <h1>Edit Bring Home</h1>
        <form action = "{{url_for('editBringHome', mbid = item.id)}}" method = 'POST'>            
            <p>Name:</p>
            <input type = 'text' size = '30' name = 'name', placeholder = "Bill Name">
            <p>Amount:</p>
            <input type = 'text' size = '30' name = 'amount' placeholder = "Amount">
            <p>Day Of Week:</p>
            <input type = 'text' size = '30' name = 'dayOfWeek' placeholder = "Day Of Week">
            <p>Frequency</p>
            <input type = 'text' size = '30' name = 'Frequency' placeholder = "Pay Frequency">
            <input type = 'submit' value = 'Edit'>
        </form>
    </body>
</html>