{% extends "layout.html" %}
{% block content %}



<div class = 'pane'>
        <div class = 'header'>
        <h1>Monthly Bills</h1>
        <a href="{{url_for('newMonthlyBills')}}">New Bill</a>
        </div>
<table id="tblMonthlyBills" class="table">
    <tr class="trbold">
        <th>Bill</th>
        <th>Date</th>
        <th>Cost</th>
        <th></th>
    </tr>
{% for b in bills %}
<tr class="trbold">
    <td class="Bill">
        <span>{{b.bill}}</span>
    </td>
    <td class="Date">
        <span>{{b.date}}</span>
    </td>
    <td class="Cost">
        <span>{{b.cost}}</span>
    </td>

    <td>
        <a class="alter" href = '{{url_for('editMonthlyBills', mbid = b.id)}}'>Edit</a>
        <a class="alter" href = '{{url_for('deleteMonthlyBills', mbid = b.id)}}'>Delete</a>

    </td>
</tr>

{% endfor %}
</table>
</div>

{% endblock %}